body{
    background-color: gray;
}
.box1{
    width: 500px;
    height: 165px;
    background-color: white;
    border: 8px solid red;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
    font-style: italic;
    margin-left: 25%;
    color:  rgba(143, 12, 12, 0.856);
    text-shadow: 2px 0px 3px ;
    box-shadow: 6px 5px 0px rgba(68, 4, 4, 0.875);
}
.line{
    margin-top: -15px;
}
.parent{
    border: 5px solid green;
    height: 600px;

    }
.img{
    width: 200px;
    height: 100px;
    padding-top: 65px;
    padding-left: 24px;
}
.box{
    width: 250px;
    height: 220px;
    background-color: white;
    border: 8px solid red;
    border-radius: 7px;
    box-shadow: 5px 5px 0px rgba(163, 10, 163, 0.615);
}
.box2{
    background-color: lawngreen;
    border: 10px solid red;
    border-radius: 10px;
    width: 400px;
    height: 80px;
    box-shadow: 5px 5px 0px rgba(163, 10, 163, 0.615);
    z-index: 1;
}
.myfont{
    color: rgb(54, 6, 103);
    text-align: center;
    line-height: 38px;
    font-size: 28px;
    text-shadow: 2px 2px 3px rgb(54, 6, 103);
}
.child1{
    position: relative;
}
.child2{
    position: absolute;
    left: 75%;
    top: 31%;
}
.child3{
    position: relative;
    top: 80px;
    left: 2px;
}
.child4{
    position: absolute;
    left:74%;
    top: 70%;
}
.para{
    color: rgb(54, 6, 103);
    font-size: 22px;
    text-shadow: 2px 2px 3px rgb(54, 6, 103);
}
.para1{
    text-align: center;
}
.button{
    background-color: rgb(159, 9, 9);
    border: 2px solid black;
    border-radius: 10px ;
}
.mypara{
    color: rgb(216, 56, 20);
    font-style: italic;
    display: inline-block;
    padding-left: 10px;
}
.child5{
    position: fixed;
    left: 30%;
    top: 70%;
    display: flex;
    flex-flow: row wrap;
}
.mybox{
    background-color: darkgreen;
    border: 8px solid purple;
    width: 547px;
    height: 565px;
    position: relative;
    top:50px;
    left: 25%;
}
.flexmain{
    text-align: center;
    font-size: 20px;
}
.childone{
    width: 250px;
    height: 230px;
    background-color: yellow;
    border: 5px solid gray;
    border-radius: 5px;
    position: relative;

}
.myfruit{
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}
.paragh{
    font-style: italic;
    font-size: 15px;
    word-spacing: 15px;
    text-align: center;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.myper{
    width: 565px;
    position: relative;
    top: 15px;
    line-height: 20px;
}